a {
  text-decoration: none;
}
:root{
  --clr-primary: #9bafd9;
  --clr-secondary: #103783;
  --clr-tetriary: grey;
  --clr-black: #000000;
  --clr-font: #ffffff;
  --clr-body: var(--clr-primary);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--clr-body);  
}

header, footer {
    background-color: var(--clr-secondary);
    color: var(--clr-font);
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.box {
  color: black;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 0.5em;
  flex: 1 1 200px; /* Elastyczne elementy */
  text-align: center;
  border-radius: 5px;
  box-shadow: .4em .4em var(--clr-tetriary);
  transition: all ease .5s;
}

.box:hover {
  background-color: #8d99ae;
  color: white;
}

/* Style responsywne */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
